/* font family added */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.open-sans {
    font-family: "Open Sans", sans-serif;
}

#r {
    color: #FD6E0A;
}

.dark-2 {
    color: #474747;
}

.nav-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 200px;
}

.nav-title {
    font-weight: 800px;
    font-size: 45px;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
    font-size: 20px;
}

nav ul li a {
    text-decoration: none;
}

nav ul {
    display: flex;
    align-items: center;
}

.btn-primary {
    background-color: #FD6E0A;
    font-size:20px ;
    font-weight: bold;
    color: #FFFFFF;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;

}